{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | titre du souhait
{% endblock %}

{% block body %}
    Détail d'un souhait

    <ul>
        <li>{{ wish.title }}</li>
        <li>{{ wish.description }}</li>
        <li>{{ wish.author }}</li>
        <li>{{ wish.dateCreated | date('d/m/Y H:i') }}</li>
    </ul>


{% endblock %}

